@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

:root{
    --branco: white;
    --cor-de-fundo: #040506;
    --fundo-senha: #2C334D;
    --fundo-texto: #2C334D;
    --borda: #000000;
}
    
body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);

}